@charset "UTF-8";

html{
    height: 100%;
}

body{
    /* height: 100%;
    background: #186AC9;
     */
     height:100vh;
     background-color: #1e6aed;
     background-image: linear-gradient(0deg,#d8db4f 0%, #1e6aed 100%);
}

a,a:hover,a:visited{
    color: inherit;
    text-decoration: none !important;
    /* !importantで優先順位を一番へ */
    white-space: nowrap;
    

}


/* ログイン画面 */
h1{
    text-align: center;
}
img{
    width: 75px;
    height: 28px;
    margin-top: 80px;
}

.social{
    color: aliceblue;
    /* margin-bottom: 30px; */
    text-align: center;
}
.section{
    background-color: #ccd8ff;
    padding: 50px 0;
}
.login-inner{
    width: 190px;
    height: 250px;
    background-color: rgba(97, 97, 97, 0.5);
    margin: 0 auto;
    margin-top: 30px;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    border-style: solid;
}

/* .login-form{
    margin-top: 100px;
} */

label,input{
    display: block;
    margin-top: 0px;
}

.btn-danger{
    width: 40%;
    height: 27px;
    line-height: 30px;
    font-size: 20px;
    margin-top: 10px;
    position: absolute;
    left: 51%;
}
.input{
    margin: auto;
    height: 27px;
    width: 160px;
    border-radius: 5px;
    border-style: solid;
}
label{
    font-size: 50%;
    margin-left: 17px;
    color: #f4f4f4;
   
}

.start{
   text-align: center;
   height: 10px;
   font-size: 80%;
   margin-bottom: 25px;
   padding-top: 20px;
   
}

.create{
    margin-top: 60px;
    font-size: 12px;
    color: #f4f4f4;
    position: absolute;
    left: 17%;
}

/* レジスター */
.register-inner{
    width: 180px;
    height: 330px;
    background-color: rgba(97, 97, 97, 0.5);
    margin: 0 auto;
    margin-top: 5px;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    border-style: solid;
}
.register-front{
    text-align: center;
    font-size: 15px;
    padding-top: 15px;
    color: #f4f4f4;
    margin-bottom: 15px;
}

/* type passwordの場合は記述する */
input[type="password"]{
    margin: auto;
    height: 27px;
    width: 160px;
    border-radius: 5px;
    border-style: solid;
}

.login-back{
    margin-top: 45px;
    font-size: 13px;
    color: #f4f4f4;
    position: absolute;
    left: 20%;
}

/* added */
.add-inner{
    width: 200px;
    height: 200px;
    background-color: rgba(97, 97, 97, 0.5);
    margin: 0 auto;
    margin-top: 5px;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    border-style: solid;
}

.add-user{
    /* margin-top: 10px; */
    padding-top: 10px;
    color: #f4f4f4;
    text-align: center;
    font-size: 16px;
    font-weight: 800;

}

.add-welcome{
    color: #f4f4f4;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}

.add-text{
    font-size: 12px;
    color: #f4f4f4;
    text-align: center;
}
.added-btn{
    width: 25em;
    margin:0 auto;
    text-align: center;
}

.back-btn{
    position: absolute;
    top: 70%;
    left: 26%;
}



